h1{
    color: blue; font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: aliceblue;
}
section{
    background-color: aliceblue;
}

h2{
    font-style: oblique;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h3{
    font-style: oblique;
}




.flagGroupFlex {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.imgFlag {
  width: 200px; 
  height: auto;
  margin-right: 20px;
}
.shieldOfElysera{
    display: flex;
    align-items: center;
    justify-content: center;
}



