h1{
    color: blue; font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: aliceblue;
}
section{
    background-color: aliceblue;
}

h2{
    font-style: oblique;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h3{
    font-style: oblique;
}


img {
  text-align: center;
}
